<div class="page-container page-form">

    <div class="form-container">

        <div class="container container-xs-width">
            <div class="row row-sm-height">
                <div class="col-sm-12">

                    <a href="index.php" class="text-center">
                        <img src="/images/logo-brandmark.svg" alt="logo" width="100" class="center-block"/>
                    </a>

                    <div class="alert alert-danger" role="alert" v-if="hasError">
                        <div v-repeat="row: errors.values"><i class="fa fa-times"></i> &nbsp; {{ row }}</div>
                    </div>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group form-group-default"
                                 v-class="has-error: errors.fields.indexOf('user') > -1">
                                <label>Login</label>
                                <input type="text" name="user" placeholder="Username or Email Address"
                                       class="form-control" required="" aria-required="true" v-model="login.user" v-on="keyup: doLogin| key 13">
                            </div>
                        </div>

                    </div>
                    <!--/ .row -->

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group form-group-default"
                                 v-class="has-error: errors.fields.indexOf('password') > -1">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Password" class="form-control"
                                       required="" aria-required="true" v-model="login.password" v-on="keyup: doLogin| key 13">
                            </div>
                        </div>

                    </div>
                    <!--/ .row -->

                    <div class="row">
                        <div class="col-sm-6">

                            <div class="checkbox ">
                                <input type="checkbox" id="remember" v-model="login.remember" />
                                <label for="remember">Keep Me Signed in</label>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <p class="text-sm-right small"><a v-link="{ path : 'forgotPassword' }" class="text-info">Lost
                                Password?</a></p>
                        </div>
                    </div>
                    <!--/ .row -->

                    <button class="btn btn-complete" type="button" v-on="click: doLogin">Login</button>

                </div>
                <!--/ .col-md-12 -->

            </div>
            <!--/ .row -->

        </div>

    </div>
    <!--/ .form-container -->
</div>