<div class="page-container page-form">

    <div class="form-container">

        <div class="container container-xs-width">
            <div class="row row-sm-height">
                <div class="col-sm-12">

                    <a href="index.php" class="text-center">
                        <img src="/images/logo-brandmark.svg" alt="logo" width="100" class="center-block"/>
                    </a>

                    <form id="form-login" role="form" class="mg-20-t" action="index.html" novalidate="novalidate">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Login</label>
                                    <input type="text" name="username_or_email" placeholder="Username or Email Address"
                                           class="form-control" required="" aria-required="true">
                                </div>
                            </div>

                        </div>
                        <!--/ .row -->

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="form-group form-group-default">
                                    <label>Password</label>
                                    <input type="text" name="pass" placeholder="Credentials" class="form-control"
                                           required="" aria-required="true">
                                </div>
                            </div>

                        </div>
                        <!--/ .row -->

                        <div class="row">
                            <div class="col-sm-6">

                                <div class="checkbox ">
                                    <input type="checkbox" value="1" id="checkbox1">
                                    <label for="checkbox1">Keep Me Signed in</label>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <p class="text-sm-right small"><a href="form-lost-password.php" class="text-info">Lost
                                    Password?</a></p>
                            </div>
                        </div>
                        <!--/ .row -->

                        <button class="btn btn-complete" type="submit">Continue</button>
                    </form>

                </div>
                <!--/ .col-md-12 -->

            </div>
            <!--/ .row -->

        </div>

    </div>
    <!--/ .form-container -->
</div>