<div class="row">
    <div class="col-sm-8 col-md-9">
        <h2>
            <span>{{ $route.params.id > 0 ? 'Edit Story' : 'Add New Story' }}</span>
            <a v-link="{ name : 'storyList' }" class="cancel-btn">Cancel</a>
        </h2>

        <div class="form-group mg-20-b">
            <input type="text" name="title" id="post-title" class="form-control input-lg" placeholder="Enter Title Here"
                   v-model="story.title"/>
        </div>

        <div class="form-group">
            <button class="btn btn-sm" data-toggle="modal" data-target="#modal-media"><i class="fa fa-photo"></i> Add
                Media
            </button>
            <textarea id="post-content" class="form-control" rows="10" cols="10" v-model="story.content"></textarea>
        </div>
        <div class="panel-group accordion">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab">
                    <h4 class="panel-title">
                        <a class="text-capitalize pad-10-y" role="button" data-toggle="collapse"
                           data-parent="#accordion"
                           href="#additionalInformationCollapse" aria-expanded="true"
                           aria-controls="additionalInformationCollapse">Additional Information</a>
                    </h4>
                </div>
                <div id="additionalInformationCollapse" class="panel-collapse collapse in" role="tabpanel"
                     aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="checkbox mg-20-b">
                            <input type="checkbox" id="publish-story" v-model="story.published"/>
                            <label for="publish-story">Published</label>
                        </div>
                        <div class="checkbox mg-20-b">
                            <input type="checkbox" id="story-featured" v-model="story.featured"/>
                            <label for="story-featured">Featured</label>
                        </div>
                        <div class="mg-20-b">
                            <textarea class="form-control" rows="3" cols="10" v-model="story.excerpt"
                                      placeholder="Add optional story excerpt or summary."></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-4 col-md-3">


        <aside id="admin-postbox">

            <div class="panel-group accordion">

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a class="text-capitalize pad-10-y" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapsePublish" aria-expanded="true"
                               aria-controls="collapsePublish">Details</a>
                        </h4>
                    </div>
                    <div id="collapsePublish" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <ul class="list-menu">
                                <li>
                                    <i class="fa fa-fw fa-pencil"></i> Status:
                                    <span class="label"
                                          v-class=" label-warning: story.published  == 0,
                                                    label-primary: story.published == 1,
                                                    label-danger: story.deleted_at != null">
                                        <strong>{{ status }}</strong>
                                    </span> &nbsp;
                                    <span v-if="story.featured == 1 && story.published == 1"
                                          class="label label-success"><strong>Featured</strong></span>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-user"></i> Author: <strong>{{ story.author }}</strong>
                                </li>
                                <li>
                                    <i class="fa fa-fw fa-calendar"></i> Created at: <strong>{{ story.created
                                    }}</strong>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!--/ .panel -->
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingCategory">
                        <h4 class="panel-title">
                            <a class="text-capitalize pad-10-y" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseCategory" aria-expanded="true"
                               aria-controls="collapseCategory">Category</a>
                        </h4>
                    </div>
                    <div id="collapseCategory" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingCategory">
                        <div class="panel-body">
                            <select data-placeholder="Select Category" v-model="story.category_id" options="categories"
                                    v-chosen="category: categories"></select>
                            <button class="btn btn-sm btn-link" role="button" data-toggle="collapse"
                                    href="#collapseAddCategory" aria-expanded="false"
                                    aria-controls="collapseAddCategory">+ Add New Category
                            </button>

                            <div class="collapse form-inline" id="collapseAddCategory">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Category Name"/>
                                    <button class="btn">Add Category</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingKeywords">
                        <h4 class="panel-title">
                            <a class="text-capitalize pad-10-y" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseKeywords" aria-expanded="true"
                               aria-controls="collapseCategories">Keywords</a>
                        </h4>
                    </div>
                    <div id="collapseKeywords" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingKeywords">
                        <div class="panel-body">
                            <select data-placeholder="Select Keywords" multiple v-model="story.keywords"
                                    options="keywords"
                                    v-chosen="keyword: keywords"></select>
                        </div>
                    </div>
                </div>
                <!--/ .panel -->

                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="text-capitalize pad-10-y" role="button" data-toggle="collapse"
                               data-parent="#accordion" href="#collapseFeaturedImage" aria-expanded="true"
                               aria-controls="collapseFeaturedImage">Default Image</a>
                        </h4>
                    </div>
                    <div id="collapseFeaturedImage" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            <div class="open-modal-media" v-if="false">
                                <button class="btn btn-sm btn-link center-block upload-media-btn" data-toggle="modal"
                                        data-target="#modal-media">Set Featured Image
                                </button>
                            </div>

                            <div class="upload-media-attachment">
                                <div class="attachment-preview">
                                    <div class="thumbnail">
                                        <div class="centered">
                                            <img src="/images/gallery-02.jpg" draggable="false" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ .panel -->

                <div class="panel panel-default">
                    <button class="btn btn-sm btn-primary pull-left">Save</button>
                    <button class="btn btn-sm btn-link pull-right overlay-danger" v-if="story.published == 1"
                            alt="Move to Trash">
                        Move to Trash
                    </button>
                    <button class="btn btn-sm btn-link pull-right overlay-danger"
                            v-if="story.published == 0 && story.id > 0"
                            alt="Delete Permanently">
                        Delete
                    </button>
                </div>
                <!--/ .panel -->

            </div>

        </aside>

    </div>
</div>

<!-- Add to Collection Modal  -->
<div class="modal fade media-frame" id="modal-media" tabindex="-1" role="dialog" aria-labelledby="modal-media-label">
    <div class="modal-dialog modal-dialog-full-width" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close overlay-dark" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="modal-media-label">Insert Media</h4>
            </div>
            <div class="modal-body">
                <div class="row full-height">
                    <div class="col-sm-8 col-md-9 col-lg-10 full-height">
                        <ul class="menu scrollable clearfix">
                            <li class="attachment" role="checkbox">
                                <div class="attachment-preview">
                                    <div class="thumbnail">
                                        <div class="centered">
                                            <img src="./images/gallery-01.jpg" draggable="false" alt="">
                                        </div>
                                    </div>
                                </div>
                                <a class="check" role="button" title="Deselect" tabindex="0"><i
                                        class="icon"></i></a>
                            </li>
                            <li class="attachment selected" role="checkbox">
                                <div class="attachment-preview">
                                    <div class="thumbnail">
                                        <div class="centered">
                                            <img src="./images/gallery-02.jpg" draggable="false" alt="">
                                        </div>
                                    </div>
                                </div>
                                <a class="check" role="button" title="Deselect" tabindex="0"><i
                                        class="icon"></i></a>
                            </li>
                            <li class="attachment" role="checkbox">
                                <div class="attachment-preview">
                                    <div class="thumbnail">
                                        <div class="centered">
                                            <img src="./images/gallery-03.jpg" draggable="false" alt="">
                                        </div>
                                    </div>
                                </div>
                                <a class="check" role="button" title="Deselect" tabindex="0"><i
                                        class="icon"></i></a>
                            </li>
                            <li class="attachment" role="checkbox">
                                <div class="attachment-preview">
                                    <div class="thumbnail">
                                        <div class="centered">
                                            <img src="./images/gallery-04.jpg" draggable="false" alt="">
                                        </div>
                                    </div>
                                </div>
                                <a class="check" role="button" title="Deselect" tabindex="0"><i
                                        class="icon"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-4 col-md-3 col-lg-2 full-height hidden-xs">
                        <div class="attachment-details scrollable">
                            <h4>Attachment Details</h4>

                            <div class="form-group form-group-default">
                                <label>Title</label>
                                <input type="text" class="form-control" placeholder="Title goes here"/>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Caption</label>
                                        <textarea class="form-control no-resize" placeholder="Say something awesome"
                                                  rows="5" cols="5"/></textarea>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Alt Text</label>
                                <input type="text" class="form-control" placeholder="Alt goes here"/>
                            </div>
                            <div class="form-group form-group-default">
                                <label>Description</label>
                                        <textarea class="form-control no-resize" placeholder="Say something awesome"
                                                  rows="5" cols="5"/></textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--/ .modal-body -->
            <div class="modal-footer">
                <div class="pull-sm-left">
                    <button type="button" class="btn btn-primary">Upload Image</button>
                </div>
                <div class="pull-sm-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-complete">Done</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ .modal -->
