<div class="page-container">

    <!--/ Navigation -->
    <header class="navbar navbar-admin navbar-fixed-top navbar-inverse fill-dark-menu" id="top" role="banner">
        <div class="container-fluid">
            <div class="navbar-header pull-left">
                <button id="sidebar-toggle" class="navbar-toggle" type="button">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/images/logo-brandmark-light.svg" class="logo-brandmark logo-icon"
                         alt="Bridal Gallery" width="50"/>
                    <img src="/images/logo-wordmark-light.png" class="logo-wordmark logo-icon hidden-xs hidden-sm"
                         alt="Bridal Gallery" width="215"/>
                </a>
            </div>

            <nav id="wp-navbar-offset" class="navbar-offset pull-right">

                <ul class="nav navbar-nav navbar-offset-nav">
                    <li>
                    </li>
                    <li class="dropdown dropdown-profile">
                        <a href="#" class="dropdown-toggle dropdown-avatar text-center" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false" title="Megan Simpsons">
                            <span class="avatar-name hidden-xs">{{logged.name}}</span><img
                                v-attr="src: logged.avatar" class="avatar-thumb" width="30" height="30"
                                v-attr="title: logged.name"/>
                        </a>
                        <ul class="dropdown-menu fill-dark-menu">
                            <li><a href="page-profile.php">Profile</a></li>
                            <li><a href="admin-profile-settings.php">Settings</a></li>
                            <li><a href="javascript:void(0);" v-on="click: doLogout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </div>
    </header>
    <div id="admin-content" class="content-area pad-20-y">
        <main id="main" class="site-main" role="main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="post-editor">
                            <router-view></router-view>
                        </div>
                        <!--/ .post-editor -->
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!--/ #admin-content -->
    <aside id="admin-sidebar">
        <div class="scrollbarCustom">
            <ul class="menu">

                <li v-class="active: $route.path == '/dashboard'">
                    <a v-link="{ name: 'dashboard' }"><i class="fa fa-fw fa-tachometer"></i> <span>Dashboard</span></a>
                </li>
                <li class="has-submenu" v-class="active: $route.path.indexOf('/stor') > -1">
                    <a v-link="{ name: 'storyList' }"><i class="fa fa-fw fa-pencil"></i> <span>Stories</span></a>

                    <ul class="sub-menu">
                        <li v-class="active: $route.path == '/stories'"><a
                                v-link="{ name: 'storyList' }"><i class="fa fa-fw fa-pencil visible-xs"></i> <span class="hidden-xs">All Stories</span></a></li>
                        <li v-class="active: $route.path == '/story/tags'"><a v-link="{ name: 'storyTags' }">Tags</a>
                        </li>
                    </ul>
                </li>
                <li v-class="active: $route.path == '/categories'">
                    <a v-link="{ name: 'categories' }"><i class="fa fa-fw fa-filter"></i> <span>Categories</span></a>
                </li>
                <li class="has-submenu" v-class="active: $route.path.indexOf('/translator') > -1">
                    <a v-link="{ name: 'translations' }"><i class="fa fa-fw fa-pencil"></i> <span>Translator</span></a>

                    <ul class="sub-menu">
                        <li v-class="active: $route.path == '/translator/translations'"><a
                                v-link="{ name: 'translations' }">Translations</a></li>
                        <li v-class="active: $route.path == '/translator/languages'"><a v-link="{ name: 'languages' }">Languages</a>
                        </li>
                    </ul>
                </li>
                <li v-class="active: $route.path == '/users'">
                    <a v-link="{ name: 'users' }"><i class="fa fa-fw fa-filter"></i> <span>Users</span></a>
                </li>
            </ul>
        </div>
    </aside>
</div>