<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/images/logo-brandmark-light.svg" class="logo-brandmark logo-icon"
                     alt="Bridal Gallery" width="50"/>
                <img src="/images/logo-wordmark-light.png" class="logo-wordmark logo-icon hidden-xs hidden-sm"
                     alt="Bridal Gallery" width="215"/>
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu message-dropdown">
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-preview">
                        <a href="#">
                            <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>

                                <div class="media-body">
                                    <h5 class="media-heading"><strong>John Smith</strong>
                                    </h5>

                                    <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>

                                    <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="message-footer">
                        <a href="#">Read All New Messages</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu alert-dropdown">
                    <li>
                        <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                    </li>
                    <li>
                        <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">View All</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle text-center" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false" title="Megan Simpsons">
                    <span class="avatar-name hidden-xs">{{ logged.name }}</span>
                    &nbsp;
                    <img v-attr="src: logged.avatar" class="avatar-thumb" width="18" height="18"
                         v-attr="title: logged.name "/>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:void(0);" v-on="click: doLogout"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li v-class="active: $route.path == '/dashboard'">
                    <a v-link="{ name: 'dashboard' }"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#stories"><i
                            class="fa fa-fw fa-thumb-tack"></i> Stories <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="stories" class="collapse">
                        <li v-class="active : $route.path == '/stories'">
                            <a v-link="{ name: 'storyList' }">All Stories</a>
                        </li>
                        <li v-class="active : $route.path == '/story/new'">
                            <a v-link="{ name: 'storyNew' }">New Story</a>
                        </li>
                        <li v-class="active : $route.path == '/story/tags'">
                            <a v-link="{ name: 'storyTags' }">Story Tags</a>
                        </li>
                    </ul>
                </li>
                <li v-class="active : $route.path == '/categories'">
                    <a v-link="{ name: 'categories' }"><i class="fa fa-fw fa-filter"></i> Categories</a>
                </li>
                <li>
                    <a href="javascript:void(0);" data-toggle="collapse" data-target="#translator"><i
                            class="fa fa-fw fa-pencil"></i> Translator <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="translator" class="collapse">
                        <li v-class="active : $route.path == '/translator/translations'">
                            <a v-link="{ name: 'translations' }">Translations</a>
                        </li>
                        <li v-class="active : $route.path == '/translator/languages'">
                            <a v-link="{ name: 'languages' }">Languages</a>
                        </li>
                    </ul>
                </li>
                <li v-class="active : $route.router.name == 'users'">
                    <a v-link="{ name: 'users' }"><i class="fa fa-fw fa-filter"></i> Users</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">

        <div class="container-fluid">
            <router-view></router-view>

        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->